@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #0C0F14;
  color: #E7EAEE;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.mono {
  font-family: "IBM Plex Mono", monospace;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #262C36;
  border-radius: 4px;
}
